@import "tailwindcss";
@plugin "tailwind-scrollbar";

@theme {
  --color-gold: #c9a84c;
  --color-sage: #c4be8c;
  --color-parchment: #e8d8b0;

  --color-bg-deep: #18140c;
  --color-bg-mid: #1e1a10;
  --color-bg-surface: #261e10;
  --color-bg-hover: #302616;
  --color-bg-input: #12100a;

  --color-border-base: #3a3220;
  --color-border-accent: #4e4228;

  --color-text-dim: #8a7a54;
  --color-text-mid: #c0ae80;
}

[data-sonner-toast] {
  background: #100e0b !important;
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-gold) transparent;
  }

  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: var(--color-bg-mid);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--color-bg-mid);
    border-radius: 3px;

    background-image: linear-gradient(
      to bottom,
      transparent,
      var(--color-gold),
      transparent
    );
  }

  /* *::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-parchment);
  } */

  button {
    @apply cursor-pointer;
  }

  button:disabled {
    @apply cursor-not-allowed opacity-50;
  }
}
